<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/global-settings.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Panel</title>
</head>
<body>
    <h2><%=title%></h2>
    <form action="" method="post">
        <div>
            <label for="name">
                Name:<br>
                <input type="text" name="name" id="name" value="<%=undefined === contact ? '' : contact.name%>">
            </label>
        </div>
        <div>
            Type: <br>
            <select name="type" id="type">
                <% types.forEach(type => { %>
                    <% if(contact !== undefined){ %>
                        <% if(contact.type === type){ %>
                            <option value="<%=type%>" selected><%=type%></option>
                        <% } %>
                    <% }else{ %>
                        <option value="<%=type%>"><%=type%></option>
                    <% } %>
                <% }) %>
                
                <option value="mail">Mail</option>
                <option value="physical-address">Physical Address</option>
            </select>
        </div>

        <div>
            <label for="value">
                Value:<br>
                <input type="text" name="value" id="value" value="<%=undefined === contact ? '' : contact.value%>">
            </label>
        </div>
        <button type="submit">Add</button>
    </form>
</body>
</html>