<%-include('components/panel-core')%>
<main>
    <h2>Parts panel</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Amount In Stock</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        <%parts.forEach(part => { %>
            <tr>
                <td>
                    <a href="/panel/update/part/<%=part._id%>">
                        <%=part.name%>
                    </a>
                </td>
                <td>
                    <%=part.brand.name%>
                </td>
                <td>
                    <%=part.category.name%>
                </td>
                <td>
                    <%=part.amount_in_stock%>
                </td>
                <td>
                    <%=part.price%>
                </td>
                <td>
                    <a href="/panel/delete/part/<%=part._id%>">Delete</a>
                </td>
            </tr>
        <%})%>
    </table>
</main>