<%-include('components/panel-core')%>
<main>
    <h2>See document counts:</h2>
    <div>
        <p>Parts: <%=partsCount%></p>
        <p>Brands: <%=brandsCount%></p>
        <p>Categories: <%=categoriesCount%></p>
        <p>Contacts: <%=contactsCount%></p>
    </div>
</main>